<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xbmchina.shorturl.mapper.MinShortUrlMapper">
    <insert id="insertUrl" parameterType="cn.xbmchina.shorturl.entity.MinShortUrl">
           INSERT INTO min_short_url(id, username, url, short_url, client_count, create_time, last_click_time)
           VALUES (#{id}, #{username}, #{url}, #{shortUrl}, #{clientCount}, #{createTime}, #{lastClickTime})
    </insert>

    <update id="updateShortUrl" parameterType="cn.xbmchina.shorturl.entity.MinShortUrl">
           update min_short_url set client_count= client_count+1,last_click_time=now() where id = #{id}
    </update>

    <select id="getOriginUrl" resultType="cn.xbmchina.shorturl.entity.MinShortUrl">
           select id,url from min_short_url where short_url= #{shortUrl} order by id desc limit 1
    </select>

    <update id="batchUpdateClick" parameterType="java.util.List">
        <foreach collection="urlList" item="item" index="index" open="" close="" separator=";">
            update min_short_url set client_count= client_count+#{item.clientCount},last_click_time=now() where short_url =
            #{item.shortUrl}
        </foreach>
    </update>
</mapper>
